.card {
    padding: 2rem;
    border-radius: 1rem;
    background-color: $color-gray-100;
    overflow: hidden;

    &__title {
        font-size: 2rem;
    }

    &__subtitle {
        font-size: 1.2rem;
        color: $color-gray-300;
    }
}
