@use "../base/variables";
@use "../base/utilities";

.work-container {
  @extend .section-container;
}

.work-exit-button {
  @extend .exit-button;
}

.work-grid {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  width: 100%;
}
