---
import { information } from "../../data/profileInfo";
---

<section class="presentation-card">
    <h1 class="presentation-card__title">Hola, soy {information.name}</h1>
    <p class="presentation-card__description">{information.description}</p>
</section>
