<section class="perfil-card">
    <div class="perfil-card__content">
        <img
            src="/profile/profile.webp"
            alt="Perfil"
            class="perfil-card__image"
            fetchpriority="high"
        />
    </div>
</section>
