<section class="perfil-card">
    <div class="perfil-card__content">
        <img
            src="../../src/assets/profile/profile.webp"
            alt="Perfil"
            class="perfil-card__image"
        />
    </div>
</section>
