.work-details-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__title {
    font-size: var(--type-kicker);
    color: var(--title-color);
  }

  &__text {
    font-size: var(--type-lede);
    color: var(--text-color);
  }

  &__technologies {
    display: flex;
    flex-direction: column;
  }

  &__tech {
    font-size: var(--type-lede);
    color: var(--text-color);
  }
}

@media (max-width: 1200px) {
  .work-details-card {
    &__title {
      font-size: var(--type-kicker);
    }

    &__text {
      font-size: var(--type-lede);
    }

    &__tech {
      font-size: var(--type-lede);
    }
  }
}
