.head-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: var(--type-display);
    color: var(--title-color);
  }

  &__type {
    font-size: var(--type-heading);
    color: var(--text-color);
  }
}

@media (max-width: 800px) {
  .head-container {
    &__title {
      font-size: var(--type-heading);
    }

    &__type {
      font-size: var(--type-lede);
    }
  }
}
