---
import { information } from "../../data/profileInfo";
const about = information;
---

<section class="details-about-card">
    <article class="details-about-card__history">
        <h3 class="details-about-card__history-title">Mi recorrido</h3>
        <p class="details-about-card__history-text">{about.history}</p>
    </article>
    <article class="details-about-card__actuality">
        <h3 class="details-about-card__actuality-title">Actualidad</h3>
        <p class="details-about-card__actuality-text">{about.actually}</p>
    </article>
</section>
