.details-about-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__history,
  &__actuality {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__history-title,
  &__actuality-title {
    font-size: var(--type-kicker);
    color: var(--title-card-color);
    text-transform: uppercase;
  }

  &__history-text,
  &__actuality-text {
    font-size: var(--type-lede);
    color: var(--text-card-color);
  }
}
