.experience-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__title {
    font-size: var(--type-kicker);
    color: var(--title-card-color);
    text-transform: uppercase;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &__position {
    font-size: var(--type-card);
    font-weight: bold;
    color: var(--text-card-color);
  }

  &__description {
    font-size: var(--type-lede);
    font-weight: 400;
    color: var(--text-card-color);
  }

  &__date {
    font-size: var(--type-ui);
    color: var(--title-card-color);
  }
}
