---
export interface Props {
    images: string[];
}
const { images } = Astro.props;
---

<div class="carousel">
    <div class="carousel__track" id="carousel-track">
        {
            images.map((image, index) => (
                <div
                    class="carousel__item"
                    style={`background-image: url('${image}')`}
                />
            ))
        }
    </div>

    <button class="carousel__button carousel__button--prev" id="prev-btn">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-left"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M15 6l-6 6l6 6"></path></svg
        >
    </button>
    <button class="carousel__button carousel__button--next" id="next-btn"
        ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M9 6l6 6l-6 6"></path></svg
        ></button
    >
</div>

<script is:inline>
    (() => {
        let currentIndex = 0;
        const track = document.getElementById("carousel-track");
        const total = track?.children.length || 0;
        const prevBtn = document.getElementById("prev-btn");
        const nextBtn = document.getElementById("next-btn");

        function updateCarousel() {
            if (track) {
                track.style.transform = `translateX(-${currentIndex * 100}%)`;
            }
        }

        prevBtn?.addEventListener("click", () => {
            currentIndex = (currentIndex - 1 + total) % total;
            updateCarousel();
        });

        nextBtn?.addEventListener("click", () => {
            currentIndex = (currentIndex + 1) % total;
            updateCarousel();
        });

        updateCarousel();
    })();
</script>
