a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}
