@use "./variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--bg-color);
}

html,
body {
    min-height: 100vh;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: variables.$font-base;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    line-height: 1.6;
    font-variation-settings: "wgth" 100;
    background-color: var(--bg-color);
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}
